
@font-face {
  font-family: 'DFLiJinHeiGB-W8';
  src: url('DFLiJinHeiGB-W8-Proportiona.eot?#iefix') format('embedded-opentype'),  url('DFLiJinHeiGB-W8-Proportiona.otf')  format('opentype'),
	     url('DFLiJinHeiGB-W8-Proportiona.woff') format('woff'), url('DFLiJinHeiGB-W8-Proportiona.ttf')  format('truetype'), url('DFLiJinHeiGB-W8-Proportiona.svg#DFLiJinHeiGB-W8-Proportiona') format('svg');
  font-weight: normal;
  font-style: normal;
}
